In [50]:
import pandas as pd
tmp_data = pd.read_csv('blake.csv')
data = tmp_data.to_numpy()

In [51]:
print(data)

[['DI' 'Uganda' 'uganda.actor.1' ... 'accept' 'low' 't1']
 ['AI' 'Uganda' 'uganda.actor.2' ... 'accept' 'low' 't1']
 ['AI' 'Uganda' 'uganda.actor.3' ... 'accept' 'low' 't1']
 ...
 ['AI' 'Canada' 'canada.94' ... 'accept' 'low' 't16']
 ['DI' 'Canada' 'canada.95' ... 'accept' 'high' 't16']
 ['AI' 'Canada' 'canada.96' ... 'reject' 'high' 't16']]

In [52]:
list1 = (data[:, [1]]).tolist()

In [53]:
#1
def unique(list1): 
    unique_list = [] 
    for ii in list1: 
        if ii not in unique_list: 
            unique_list.append(ii) 
    for ii in unique_list: 
        print(ii)
unique(list1)

['Uganda']
['Mexico']
['US']
['India']
['Senegal']
['Peru']
['Canada']

In [54]:
list2 = (data[:, [1,4]]).tolist()

In [55]:
#2
def count(list3): 
    check = False
    list4 = []   
    ii = 0
    for x in list3: 
        if x in list4:   
            check = True
            continue
        else: 
            ii = 0
            for y in list3: 
                if y[0] == x[0] and y[1] == x[1]: 
                    ii = ii + 1
            if(ii > 1):  
                print(x, "-", ii) 
            list4.append(x)  
    if check == False: 
        print("No repeats") 
list3 = [tuple(i) for i in list2]
count(list3)

('Uganda', 'F') - 912
('Uganda', 'M') - 912
('Mexico', 'M') - 624
('Mexico', 'F') - 464
('US', 'F') - 1776
('US', 'M') - 1536
('India', 'F') - 960
('India', 'M') - 704
('Senegal', 'F') - 1024
('Senegal', 'M') - 1024
('Peru', 'M') - 1216
('Peru', 'F') - 1168
('Canada', 'F') - 752
('Canada', 'M') - 784

#3
For each country, select actors of age 10-12. Are females more likely than males to reject when the distribution is unequal and to their advantage?

I got stuck on how to organize the data before I could analyze it.
I want to say the answer is yes though.